@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center">
    <h1 class="display-4">testing2 main se raja1</h1>
<<<<<<< HEAD
    <p>raja1 branch  added this chnage  </p>
    <p>1st chnage personal branch </p>
      <p>rollback wala sikhna hai  </p>
    
>>>>>>> second
</div>
