@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">main se raja1</h1>
<<<<<<< HEAD
    <p>raja1 se aaya hu bhai <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
>>>>>>> second
</div>
