@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">pppkhfig</h1>
<<<<<<< HEAD
    <p>rajabranch se aaya hu bhai <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
    <p>2ndkgfduyfguyfguyd change test <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> second
</div>
